Repository AlexWayfer/gorilla_patch: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, bundle-audit, rubocop, rspec

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

bundle-audit:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby
  bundle-audit_script: bundle audit check --update

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby
  lint_script: bundle exec rubocop

rspec:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  depends_on:
  - remark
  - bundle-audit
  - rubocop
  container:
    matrix:
    - image: ruby:2.7
    - image: ruby:3.0
  ...

Update RuboCop dependency
  Gemfile
Due: bundle-audit, rubocop, rspec

Improve `only_if` in CI config
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Allow Ruby 4.0
  .cirrus.yaml
  gorilla_patch.gemspec
Due: remark, bundle-audit, rubocop, rspec

Try to fix Cirrus CI config
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Update version to 6.0.0
  CHANGELOG.md
  lib/gorilla_patch/version.rb
Due: remark, rubocop, rspec

Switch from Cirrus CI to GitHub Actions
  .cirrus.yaml
  .github/workflows/ci.yml
  README.md
Due: remark, bundle-audit, rubocop, rspec

Remove Code Climate badge from README
  README.md
Due: remark

Lock `simplecov` on minor version
  Gemfile
Due: bundle-audit, rubocop, rspec

Add `#present?` for `String` and `nil`
  README.md
  lib/gorilla_patch/blank.rb
  spec/gorilla_patch/blank_spec.rb
Due: remark, rubocop, rspec

Add `#present?` for `Object`
  README.md
  lib/gorilla_patch/blank.rb
  spec/gorilla_patch/blank_spec.rb
Due: remark, rubocop, rspec

Add `#present?` for `Module` and `Class` (including Sequel models)
  README.md
  spec/gorilla_patch/blank_spec.rb
Due: remark, rubocop, rspec

Update version to 6.1.0
  CHANGELOG.md
  lib/gorilla_patch/version.rb
Due: remark, rubocop, rspec

Path conditions:
  remark: (any of: .cirrus.yaml, .gitignore, package.json, .remarkrc.yaml, **.md) or (any of: .cirrus.yml, .gitignore, package.json, .remarkrc.yaml, **.md)
  bundle-audit: any of: .cirrus.yaml, .gitignore, Gemfile, *.gemspec
  rubocop: (any of: .cirrus.yaml, .gitignore, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **.rb, **.ru) or (any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **.rb, **.ru)
  rspec: (any of: .cirrus.yaml, .gitignore, Gemfile, Rakefile, .rspec, *.gemspec, lib/**, spec/**) or (any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, .rspec, *.gemspec, lib/**, spec/**)
