Repository AlexWayfer/gorilla_patch: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, bundle-audit, rubocop, rspec

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

bundle-audit:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby
  bundle-audit_script: bundle audit check --update

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby
  lint_script: bundle exec rubocop

rspec:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  depends_on:
  - remark
  - bundle-audit
  - rubocop
  container:
    matrix:
    - image: ruby:2.7
    - image: ruby:3.0
  ...

Drop Ruby 2.6 support
  .cirrus.yaml
  .rubocop.yml
  gorilla_patch.gemspec
Due: remark, bundle-audit, rubocop, rspec

Change `Inflections.acronyms` from Array to Set
  lib/gorilla_patch/inflections.rb
  spec/gorilla_patch/inflections_spec.rb
Due: rubocop, rspec

Drop Ruby 2.7 support
  .cirrus.yaml
  .rubocop.yml
  gorilla_patch.gemspec
Due: remark, bundle-audit, rubocop, rspec

Resolve RuboCop warning
  .rubocop.yml
Due: rubocop

Resolve RuboCop offense
  lib/gorilla_patch.rb
Due: rubocop, rspec

Remove dependencies of CI tasks because of different `only_if`
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Replace `codecov` Ruby uploader with shell one
  .cirrus.yaml
  gorilla_patch.gemspec
  spec/spec_helper.rb
Due: remark, bundle-audit, rubocop, rspec

Support `.yaml` files in EditorConfig
  .editorconfig
Due: none

Fix `Blank` for classes, especially `Sequel::Model`
  lib/gorilla_patch/blank.rb
  spec/gorilla_patch/blank_spec.rb
Due: rubocop, rspec

Update gemspec metadata
  gorilla_patch.gemspec
Due: bundle-audit, rubocop, rspec

Update version to 5.0.0
  CHANGELOG.md
  lib/gorilla_patch/version.rb
Due: remark, rubocop, rspec

Require stdlib `set` for `Inflections`
  lib/gorilla_patch/inflections.rb
Due: rubocop, rspec

Update version to 5.0.1
  CHANGELOG.md
  lib/gorilla_patch/version.rb
Due: remark, rubocop, rspec

Add documentation about implemented Ruby methods
  README.md
Due: remark

Add Ruby 3.2 to CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Move development dependencies from gemspec into Gemfile
  Gemfile
  gorilla_patch.gemspec
Due: bundle-audit, rubocop, rspec

Update toys dependencies
  Gemfile
Due: bundle-audit, rubocop, rspec

Add Ruby 3.3 for CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Fail `remark` on any warning
  package.json
Due: remark

Configure `remark-lint-list-item-indent` after `remark-preset-lint-recommended` update
  .remarkrc.yaml
Due: remark

Update RuboCop
  Gemfile
Due: bundle-audit, rubocop, rspec

Improve specs for `dry_inflector`
  spec/gorilla_patch/inflections/dry_inflector_spec.rb
Due: rubocop, rspec

Update `dry-inflector`
  Gemfile
Due: bundle-audit, rubocop, rspec

Fix Ruby warnings for defining standard methods from Dry Inflector
  lib/gorilla_patch/inflections.rb
Due: rubocop, rspec

Add Ruby 3.4 for CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Configure Renovate
  renovate.json
Due: none

Drop Ruby 3.0 and 3.1 support
  .cirrus.yaml
  .rubocop.yml
  gorilla_patch.gemspec
  lib/gorilla_patch/except.rb
  spec/gorilla_patch/except_spec.rb
Due: remark, bundle-audit, rubocop, rspec

Resolve RuboCop warning about `plugins:` instead of `require:`
  .rubocop.yml
Due: rubocop

Resolve new RuboCop offense about `require 'set'`
  lib/gorilla_patch/inflections.rb
Due: rubocop, rspec

Remove `bundler` as development dependency
  Gemfile
Due: bundle-audit, rubocop, rspec

Update `dry-inflector` dependency
  Gemfile
Due: bundle-audit, rubocop, rspec

Path conditions:
  remark: (any of: .cirrus.yaml, .gitignore, package.json, .remarkrc.yaml, **.md) or (any of: .cirrus.yml, .gitignore, package.json, .remarkrc.yaml, **.md)
  bundle-audit: any of: .cirrus.yaml, .gitignore, Gemfile, *.gemspec
  rubocop: (any of: .cirrus.yaml, .gitignore, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **.rb, **.ru) or (any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **.rb, **.ru)
  rspec: (any of: .cirrus.yaml, .gitignore, Gemfile, Rakefile, .rspec, *.gemspec, lib/**, spec/**) or (any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, .rspec, *.gemspec, lib/**, spec/**)
