Repository AlexWayfer/gorilla_patch: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, rspec

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby:latest
  lint_script: toys rubocop

rspec:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  depends_on:
  - remark
  - rubocop
  container:
    matrix:
      image: ruby:2.7
  environment:
  ...

Update to a new template
  .cirrus.yml
  .gitignore
  .rspec
  .rubocop.yml
  .toys.rb
  LICENSE.txt
  README.md
  Rakefile
  gorilla_patch.gemspec
  package.json
  spec/gorilla_patch/slice_spec.rb
Due: remark, rubocop, rspec

Update dependencies
  .rubocop.yml
  .toys.rb
  gorilla_patch.gemspec
  spec/gorilla_patch/cover_spec.rb
  spec/gorilla_patch/slice_spec.rb
Due: rubocop, rspec

Fix headings in README
  README.md
Due: remark

Add "CLI" to default acronyms
  lib/gorilla_patch/inflections.rb
Due: rubocop, rspec

Add "DB" to default acronyms
  lib/gorilla_patch/inflections.rb
Due: rubocop, rspec

Drop `rspec` and `rubocop` toys, just use `bundle exec`
  .cirrus.yml
  .toys.rb
Due: remark, rubocop, rspec

Drop Ruby 2.4 support, SimpleCov 0.19 requires 2.5
  .cirrus.yml
  .rubocop.yml
  gorilla_patch.gemspec
Due: remark, rubocop, rspec

Update bundle, resolve new RuboCop offenses
  gorilla_patch.gemspec
  spec/gorilla_patch/namespace_spec.rb
Due: rubocop, rspec

Fix sorting of acronyms
  lib/gorilla_patch/inflections.rb
Due: rubocop, rspec

Rename `.cirrus.yml` to `.yaml`
  .cirrus.yaml
Due: none

Fix an issue with duplicate keys in Cirrus CI config
  .cirrus.yaml
Due: none

Update dependencies, resolve new RuboCop offenses
  .rubocop.yml
  gorilla_patch.gemspec
  lib/gorilla_patch/compact.rb
  lib/gorilla_patch/deep_merge.rb
  lib/gorilla_patch/module_parent.rb
  spec/gorilla_patch/compact_spec.rb
  spec/gorilla_patch/cover_spec.rb
  spec/gorilla_patch/inflections_spec.rb
  spec/gorilla_patch/namespace_spec.rb
  spec/gorilla_patch/slice_spec.rb
Due: rubocop, rspec

Remove useless Ruby patch-version in gemspec
  gorilla_patch.gemspec
Due: rubocop, rspec

Add `.ruby-version` file to `.gitignore`
  .gitignore
Due: remark, rubocop, rspec

Update `rubocop-sequel` to a version compatible with Ruby 3
  gorilla_patch.gemspec
Due: rubocop, rspec

Fix frozen Ranges for Ruby 3
  spec/gorilla_patch/cover_spec.rb
Due: rubocop, rspec

Add Ruby 3.0 for CI
  .cirrus.yaml
Due: none

Update `remark` to new major version
  .remarkrc.yaml
  README.md
  package.json
Due: remark

Avoid Ruby 4 in gem specs
  gorilla_patch.gemspec
Due: rubocop, rspec

Improve implementation of `GorillaPatch::Cover`
  lib/gorilla_patch/cover.rb
Due: rubocop, rspec

Add the link to the discussion of frozen `Range` since Ruby 3
  spec/gorilla_patch/cover_spec.rb
Due: rubocop, rspec

Don't refine `Range` with empty block for Ruby < 2.6
  lib/gorilla_patch/cover.rb
Due: rubocop, rspec

Don't refine `Hash#except` for Ruby >= 3.0
  lib/gorilla_patch/except.rb
  spec/gorilla_patch/except_spec.rb
Due: rubocop, rspec

Add `bundle-audit` CI task
  .cirrus.yaml
  gorilla_patch.gemspec
Due: rubocop, rspec

Fix README about `inflecto`
  README.md
Due: remark

Add `Module#deep_dup`
  README.md
  lib/gorilla_patch/deep_dup.rb
  spec/gorilla_patch/deep_dup_spec.rb
Due: remark, rubocop, rspec

Rename `master` git branch to `main`
  .cirrus.yaml
  CHANGELOG.md
  README.md
  gorilla_patch.gemspec
Due: remark, rubocop, rspec

Lock RuboCop version better
  gorilla_patch.gemspec
Due: rubocop, rspec

Enable `rubygems_mfa_required`
  gorilla_patch.gemspec
Due: rubocop, rspec

Drop Ruby 2.5 support
  .cirrus.yaml
  .rubocop.yml
  README.md
  gorilla_patch.gemspec
  lib/gorilla_patch/cover.rb
  spec/gorilla_patch/cover_spec.rb
  spec/gorilla_patch/slice_spec.rb
Due: remark, rubocop, rspec

Add Ruby 3.1 for CI
  .cirrus.yaml
Due: none

Resolve new RuboCop offenses
  spec/gorilla_patch/module_parent_spec.rb
Due: rubocop, rspec

Drop Ruby 2.6 support
  .cirrus.yaml
  .rubocop.yml
  gorilla_patch.gemspec
Due: rubocop, rspec

Suppress Bundle warnings in CI
  .cirrus.yaml
Due: none

Resolve new RuboCop offense
  lib/gorilla_patch/inflections.rb
Due: rubocop, rspec

Path conditions:
  remark: any of: .cirrus.yml, .gitignore, package.json, .remarkrc.yaml, **.md
  rubocop: any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **.rb, **.ru
  rspec: any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, .rspec, *.gemspec, lib/**, spec/**
